@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(33, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 150px;
    height: 55px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #fdc938;
}

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url('/assets/back.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home .btn {
    margin-top: 30px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem; 
    line-height: 25px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

#home a.yellow {
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: #fdc938;
    background: #fff;
}

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background: #F9F9FF;
    text-align: start;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 44, 59);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 44, 59);
    padding: 13px 0 7px 0;
}

#course {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#course .courses {
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 0 15px;
}

#course .courses .details i {
    color: #fdc938;
    font-size: .9rem;
}

#course .courses .cost {
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}